@use '../style/variables';

@import '../style/reset';
@import '../style/mixins';
@import '../style/pages/landing-page';
@import '../style/pages/am-landing';
@import '../style/pages/am-login';
@import '../style/pages/am-dashboard';
@import '../style/pages/am-dashboard-create';
@import '../style/pages/am-dashboard-edit';
@import '../style/pages/portfolio';

html {
  font-size: variables.$root-font;
  background: variables.$background-body;
  font-family: 'Raleway', sans-serif;
  color: variables.$color-black;
  @include responsive-base-font();
}

.vertical-horizontal-center {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.responsiveTable {
  border-collapse: collapse;
  background: rgba(255,255,255,0.4);
  border: 1px solid black;

  th {
    text-align: center;
    background: #000;
    color: #fff;
  }

  tr:nth-child(even){background-color: #f2f2f2;}

  td {
    white-space: normal;
    word-break: break-word;
    border: 1px solid #000;
    padding: 8px 12px;
    text-align: center;
    width: auto;
    max-width: 350px;

    .tdBefore {
      font-size: 12px;
      font-weight: bold;
    }
  }
}

.display-flex-column {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.text-align-center {
  text-align: center;
}

.text-align-right {
  text-align: right;
}

.text-align-left {
  text-align: left;
}
