@use '../style/variables';

@mixin gradient-animated-background() {
  @keyframes gradient {
    0% {
      background-position: 0% 50%;
    }
    50% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 0% 50%;
    }
  }

  background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
  background-size: 400% 400%;
  animation: gradient 15s ease infinite;
}

@mixin max-width-sizing() {
  margin-left: auto;
  margin-right: auto;

  @media (min-width: variables.$screen-sm-min) {
    max-width: 540px;
  }

  @media (min-width: variables.$screen-md-min) {
    max-width: 720px;
  }

  @media (min-width: variables.$screen-lg-min) {
    max-width: 960px;
  }
}

@mixin responsive-base-font() {
  font-size: 14px;

  @media (max-width: variables.$screen-xs-min) {
    font-size: 12px;
  }

  @media (min-width: variables.$screen-md-min) {
    font-size: 16px;
  }
}
