@use '../variables';

.asset-management-dashboard-wrapper {
  height: 100vh;

  .logo {
    height: 32px;
    margin: 16px;

    img {
      width: 100%;
      height: 100%;
      object-fit: contain;
    }
  }

  .asset-management-dashboard-container {
    .asset-management-dashboard-header {
      padding: 5px 10px;
      background: variables.$color-white;
    }

    .main-content-wrapper {
      margin: 12px 0;
      background: variables.$color-light-gray;
      overflow: auto;

      .main-content-container {
        background: variables.$color-white;
        min-width: 100%;
        min-height: 360px;
        padding: 12px 6px;
        overflow: auto;
      }

      @media (min-width: variables.$screen-sm-min) {
        margin: 24px 16px 0;

        .main-content-container {
          padding: 24px;
        }
      }
    }

    .asset-management-dashboard-footer {
      text-align: center;
      padding: 12px 25px;
    }
  }
}
