.asset-management-login-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  @include max-width-sizing();

  .asset-management-login-form {
    width: 75%;
    margin: 0 auto;

    &__item {
      margin: 0 0 15px;
    }

    &__button-wrapper {
      width: 100%;
      margin: 10px 0;

      &__button {
        width: 100%;
      }
    }
  }
}
