@use '../variables';

.landing-page-wrapper {
  width: 100%;
  height: 100vh;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: variables.$color-white;
  @include gradient-animated-background();

  div {
    margin: 10px 0;
  }

  &__title {
    font-size: 2.5rem;
    font-weight: normal;
    color: variables.$color-white;
  }

  &__creator {
    font-size: 1.2rem;
  }

  &__feature-wrapper {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

    button {
      width: 175px;
      background: transparent;
      color: variables.$color-white;
    }

    button:nth-child(odd) {
      margin-right: 5px;
    }

    button:nth-child(even) {
      margin-left: 5px;
    }
  }
}
