@use '../variables';

.portfolio-wrapper {
  padding: 2%;
  background: #f5f5f5;


  .portfolio-main-card {
    position: relative;
    width: 90%;
    margin: 0 5%;
    display: block;
    height: auto;
    justify-content: space-between;
    flex-direction: column-reverse;
    color: #fff;

    @media (min-width: variables.$screen-md-min) {
      display: flex;
      height: 300px;
      flex-direction: row;
      justify-content: center;
      width: 80%;
      margin: 0 10%;
    }

    a {
      color: #fff;
    }

    &__information-wrapper{
      width: 100%;
      height: 65%;
      padding: 60px 0 20px 0;
      margin: 100px 0 0;
      border-radius: 0;
      z-index: 1;
      background: #1fc1b9;
      box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.46), 0 2px 10px 0 rgba(0, 0, 0, .46);

      @media (min-width: variables.$screen-md-min) {
        width: 65%;
        height: 100%;
        margin: 0;
        //height: 100%;
        padding: 20px 0 20px 20px;
        border-radius: 20px 0 0 20px;
      }

      &__content {
        font-family: 'Raleway', sans-serif;

        &__heading {
          text-align: center;
          font-size: 2.18rem;

          @media (min-width: variables.$screen-md-min) {
            text-align: left;
          }
        }

        &__sub-heading {
          font-size: 1.2em;
          text-align: center;

          @media (min-width: variables.$screen-md-min) {
            text-align: left;
          }
        }

        &__social-media {
          width: 80%;
          margin: 20px 10% 0;

          @media (min-width: variables.$screen-md-min) {
            width: 100%;
            margin: 30px 0 0;
          }

          &__item {
            margin: 5px 0 0;
            font-size: 15px;
          }
        }
      }
    }

    &__photo-wrapper {
      position: absolute;
      top: -93px;
      left: calc(51% - 75px);
      height: 35%;
      z-index: 2;

      @media (min-width: variables.$screen-md-min) {
        position: relative;
        width: 35%;
        height: 100%;
        //height: 100%;
        z-index: unset;
        top: unset;
        left: unset;
      }



      &__slant {
        display: none;

        @media (min-width: variables.$screen-md-min) {
          display: block;
          top: 0;
          left: 0;
          z-index: 2;
          position: absolute;
          border-style: solid;
          border-width: 300px 0px 0px 100px;
          border-color: rgba(223, 50, 50, 0) transparent transparent #1fc1b9;
        }
      }

      &__image {
        background-image: url('/raymond-profile.jpg');
        background-size: cover;
        z-index: 1;
        background-repeat: no-repeat;
        border-radius: 50%;
        width: 150px;
        height: 150px;
        margin: 0 auto;

        @media (min-width: variables.$screen-md-min) {
          width: 100%;
          height: 100%;
          border-radius: 0 20px 20px 0;
          box-shadow: 0 2px 10px 0 rgba(0,0,0,.46), 0 2px 10px 0 rgba(0,0,0,.46);
        }
      }
    }
  }

  .portfolio-sub-card {
    width: 90%;
    margin: 5% 5%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, .16), 0 2px 10px 0 rgba(0, 0, 0, .12);

    @media (min-width: variables.$screen-md-min) {
      width: 80%;
      margin: 5% 10%;
    }

    &__content {
      padding: 20px;
    }

    &__btn-group {
      border-top: 1px solid rgba(160, 160, 160, .2);
      padding: 20px;
      display: flex;
      justify-content: center;

      &__btn {
        margin: 7px;
        background: #1fc1b9;
        color: #fff;
        width: 180px;
        border-radius: 2px;
        text-align: center;
        padding: 6px 12px;
        text-transform: uppercase;
      }
    }
  }

  .working-experience-wrapper {
    h2 {
      text-align: center;
    }
  }
}
